.Shorten {
  background-image: url("../../assets/images/bg-shorten-desktop.svg");
  background-position: initial;
  background-color: hsl(257, 27%, 26%);
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.Input {
  width: 70%;
  height: 33px;
  border: none;
  border-radius: 5px;
  margin-right: 1.5%;
  padding-left: 20px;
}

.Input:placeholder-shown {
  border: 1px solid red;
}


.History {
  width: 80%;
  height: 60px;
  margin: 10px 10%;
  background-color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.History > span {
  padding: 0 10px;
}


.Shorten button {
  border-radius: 5px;
  width: 15%;
  height: 33px;
}

.Button {
  margin:0 10px;
  background: hsl(180, 66%, 49%);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 10px;
}

.Button:hover {
  background: hsl(180, 66%, 70%);
  cursor: pointer;
  outline: none;  
}

.Button:focus,
.Button:active {
  background: hsl(257, 27%, 26%);
  outline: none;
  content: 'Copied!';
}