.Button {
  background: hsl(180, 66%, 49%);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px 10px;
}

.Button:hover,
.Button:focus,
.Button:active {
  background: hsl(180, 66%, 70%);
  cursor: pointer;
  outline: none;  
}