.Footer {
  height: 150px;
  padding: 5% 5%;
  background: hsl(260, 8%, 14%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: hsl(257, 7%, 63%);
}

.List {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.List :first-child {
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.Icon {
  margin-right: 15px;
}