.Nav {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0 5% 10%;
  color:hsl(257, 7%, 63%);
}

.Nav span:hover,
.Nav span:active{
  color: hsl(260, 8%, 14%);
  cursor: pointer;

}
.NavRight {
  width: 50%;
  display: flex;
  align-items: center;
}

.NavRight :first-child {  
  margin-right: 20px;
}

.NavRight span {
  margin-right: 20px;
}

.NavLeft {
  width: 30%;
  display: flex;
  align-items: center;
}

.NavLeft :first-child {
  margin-right: 20px;
}  